PROJECT_PATH='/home/username/path/to/repository'  # path to root of git repo
API_KEY='INSERT API KEY HERE'  # API key for Microsoft Academic Knowledge API https://www.microsoft.com/cognitive-services/en-us/academic-knowledge-api
